<h1>Railway Application</h1>

<p><%= link_to 'List Stations', railway_stations_path %></p>
<p><%= link_to 'List Trains', trains_path %></p>
<p><%= link_to 'List Routes', routes_path %></p>
<p><%= link_to 'List Carriages', carriages_path %></p>
