<h1>Railway Application</h1>

<p><%= link_to 'List Stations', admin_railway_stations_path %></p>
<p><%= link_to 'List Trains', admin_trains_path %></p>
<p><%= link_to 'List Routes', admin_routes_path %></p>
<p><%= link_to 'List Carriages', admin_carriages_path %></p>
